In [345]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [346]:
def check_df(df) :
    # print(df.head())
    for i, col_name in enumerate(df) :
        print(i, col_name, df[col_name].dtype)
        if df[col_name].hasnans :
            print(df[col_name].isna().value_counts())
        print('')
        if len(df[col_name].unique()) < 10 :
            print(df[col_name].value_counts())
        print('')

#### data.go.kr : 전국자동차정비업체표준데이터

- 지자치별 (광역시도) 자동차 정비업체 개수
- 지자치별 (광역시도) 자동차 정비업체, 영업상태별 개수 (영업상태를 column의 multi-index로 표현 / 01:영업, 02:휴업, 03:폐업)
-

In [347]:
pd_data = pd.read_csv('전국자동차정비업체표준데이터.csv', encoding='cp949')

pd_data.head()

for i,n in enumerate(pd_data.columns):
    print(i, n)

0 자동차정비업체명
1 자동차정비업체종류
2 소재지도로명주소
3 소재지지번주소
4 위도
5 경도
6 사업등록일자
7 면적
8 영업상태
9 폐업일자
10 휴업시작일자
11 휴업종료일자
12 운영시작시각
13 운영종료시각
14 전화번호
15 관리기관명
16 관리기관전화번호
17 데이터기준일자
18 제공기관코드
19 제공기관명

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2900\2330528487.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_data = pd.read_csv('전국자동차정비업체표준데이터.csv', encoding='cp949')

In [348]:
check_df(pd_data)

0 자동차정비업체명 object


1 자동차정비업체종류 int64

3     40108
1      6613
2      2937
4       289
99       53
Name: 자동차정비업체종류, dtype: int64

2 소재지도로명주소 object
False    48972
True      1028
Name: 소재지도로명주소, dtype: int64


3 소재지지번주소 object
True     30324
False    19676
Name: 소재지지번주소, dtype: int64


4 위도 float64
False    49996
True         4
Name: 위도, dtype: int64


5 경도 float64
False    49996
True         4
Name: 경도, dtype: int64


6 사업등록일자 object


7 면적 object


8 영업상태 int64

1    47845
3     1997
2      158
Name: 영업상태, dtype: int64

9 폐업일자 object
True     48439
False     1561
Name: 폐업일자, dtype: int64


10 휴업시작일자 object
True     49870
False      130
Name: 휴업시작일자, dtype: int64


11 휴업종료일자 object
True     49986
False       14
Name: 휴업종료일자, dtype: int64


12 운영시작시각 object
False    25186
True     24814
Name: 운영시작시각, dtype: int64


13 운영종료시각 object
False    25185
True     24815
Name: 운영종료시각, dtype: int64


14 전화번호 object
False    36334
True     13666
Name: 전화번호, dtype: int64


15 관리기관명 object


16 관리기관전화번호 object


17 데이터기준일자 object


18 제공기관코드 int64


19 제공기관명 object

In [349]:
def address_list(full_address) :
  return full_address.split()[0]

In [350]:
def rewrite(area_name) :
    if area_name == '용인시' :
        return '경기도'
    elif area_name == '동대문구' :
        return '서울특별시'
    elif area_name == '고창군청' :
        return '예외'
    elif area_name == '계룡시청' :
        return '대전광역시'
    elif area_name == '서울특별시중구청' :
        return '서울특별시'
    elif area_name == '제주특별자치도청' :
        return '제주특별자치도'
    elif area_name == '괴산군청' :
        return '예외'
    elif area_name == '군위군청' :
        return '예외'
    elif area_name == '함안군' :
        return '예외'
    elif area_name == '서대문구청' :
        return '서울특별시'
    elif area_name == '은평구청' :
        return '예외'
    else :
        return area_name

In [351]:
# 지자체별(광역시도) 자동차 정비업체 개수
# pd_data['소재지도로명주소'].unique()
pd_data['관리기관명'].unique()

array(['경상북도 울진군', '충청북도 진천군', '충청북도 충주시', '경상북도 봉화군', '충청남도 천안시',
       '충청남도 당진시', '충청남도 아산시', '충청북도 음성군', '충청남도 서산시', '경기도 안성시',
       '경기도 시흥시청', '충청남도 보령시청', '대전광역시 대덕구', '대전광역시 유성구', '대전광역시 서구',
       '대전광역시 동구', '경기도 안산시청', '충청남도 서산시청 교통과', '경기도 평택시', '충청북도 제천시',
       '용인시 차량등록사업소', '경기도 수원시청', '경상북도 영주시', '인천광역시 강화군청', '대전광역시 중구',
       '충청남도 논산시', '충청남도 보령시', '경상북도 구미시', '충청북도 청주시', '경상북도 예천군',
       '세종특별자치시', '광주광역시 서구청', '경상북도 문경시', '충청남도 홍성군', '충청남도 예산군',
       '경상북도 영양군', '경상남도 밀양시청 교통행정과', '부산광역시 해운대구청 교통정책과', '경상남도 고성군',
       '경상남도 합천군청', '부산광역시 동구', '광주광역시 북구청 교통행정과', '대구광역시 북구',
       '경상남도 거제시청', '경상남도 진주시청', '서울특별시 구로구청', '제주특별자치도 서귀포시 교통행정과',
       '강원도 원주시청', '부산광역시 동래구청', '강원도 홍천군', '서울특별시 노원구', '경기도 김포시',
       '경기도 고양시', '경기도 남양주시', '서울특별시 도봉구', '광주광역시 동구청', '부산광역시 남구',
       '충청북도 진천군청', '인천광역시 동구청', '동대문구', '경상남도 통영시', '경기도 가평군',
       '서울특별시 동작구청', '강원도 영월군', '경기도 하남시', '서울특별시 강동구', '서울특별시 마포구',
       '서울특별시 광진구', '서울특별시 성동구', '인천광역시 서구', '서울특별시 강서구', '인천광역시 강화군',
       '강원도 횡성군', '충청북도 영동군청', '강원도 춘천시', '경기도 화성시청', '경기도 포천시청',
       '경기도 파주시', '경기도 의정부시', '강원도 강릉시', '경기도 양주시', '경기도 포천시', '경기도 안양시',
       '충청남도 태안군 건설교통과', '서울특별시 관악구', '울산광역시 울주군청', '강원도 강릉시청', '경기도 광명시',
       '인천광역시 남동구', '인천광역시 미추홀구', '인천광역시 중구', '서울특별시 서초구', '서울특별시 금천구',
       '서울특별시 강남구청', '부산광역시 수영구', '서울특별시 서초구청', '충청남도 태안군', '전라북도 군산시',
       '전라남도 순천시', '서울특별시 강남구', '강원도 동해시', '경기도 부천시', '인천광역시 부평구',
       '경기도 시흥시', '경기도 광주시', '강원도 정선군', '인천광역시 동구', '충청북도 단양군',
       '서울특별시 용산구', '경상북도 울릉군', '경기도 양평군', '서울특별시 중구', '인천광역시 계양구',
       '서울특별시 송파구', '경상북도 구미시청', '인천광역시 미추홀구청', '경기도 과천시청', '경상북도 상주시',
       '전라남도 보성군청', '경기도 동두천시청 교통행정과', '서울특별시 마포구청 교통행정과', '고창군청',
       '서울특별시 동작구', '서울특별시 구로구', '서울특별시 서대문구', '서울특별시 영등포구', '경상남도 진주시',
       '전라남도 나주시', '울산광역시 남구청', '울산광역시 북구청', '서울특별시 동대문구', '서울특별시 중랑구',
       '전라남도 여수시', '경상남도 합천군', '경기도 구리시', '경기도 파주시청', '경기도 부천시청',
       '대전광역시 유성구청', '전라남도 영암군', '서울특별시 종로구', '서울특별시 용산구청', '서울특별시 성북구',
       '경기도 연천군', '서울특별시 은평구', '전라남도 완도군청', '강원도 평창군', '대구광역시 달서구',
       '대구광역시 동구청', '경기도 광주시청', '서울특별시 강북구', '경기도 양주시 차량관리과', '경기도 오산시청',
       '광주광역시 광산구청', '경상북도 의성군', '계룡시청', '전라남도 함평군', '충청남도 논산시청',
       '경기도 안양시청', '대구광역시 수성구', '강원도 원주시', '인천광역시 연수구', '경기도 여주시',
       '충청북도 옥천군', '서울특별시', '대구광역시 중구청', '경상북도 봉화군청', '경기도 의왕시',
       '강원도 삼척시', '경기도 과천시', '경상북도 청도군청 새마을과', '전라남도 장성군청', '서울특별시 양천구',
       '경상남도 의령군청', '경상북도 예천군청', '서울특별시중구청', '충청남도 부여군청',
       '경기도 의정부시 송산3동 허가안전과', '경기도 의정부시 신곡1동 허가안전과', '경기도 의정부시 흥선동 허가안전과',
       '경상북도 울릉군 일자리경제교통과', '경기도 의정부시 호원2동 허가안전과', '경기도 의정부시 주차관리과',
       '인천광역시 부평구청', '경기도 안산시', '경기도 이천시', '전라북도 전주시', '인천광역시 서구청',
       '부산광역시 서구청', '경기도 평택시청', '경기도 군포시', '충청북도 청주시 서원구청', '광주광역시 서구',
       '전라북도 군산시청', '경상남도 창원시 창원차량등록과', '경기도 화성시', '서울특별시 금천구청',
       '강원도 태백시', '경기도 오산시', '경상남도 양산시', '전라남도 목포시', '제주특별자치도 제주시',
       '울산광역시 중구청', '경상남도 사천시청 민원교통과', '울산광역시 동구청', '강원도 삼척시청',
       '충청북도 보은군청 민원과', '강원도 홍천군청', '전라북도 완주군청', '인천광역시 옹진군', '전라북도 익산시',
       '부산광역시 동래구', '충청북도 청주시 청원구청', '부산광역시 해운대구', '광주광역시 남구',
       '경상북도 경산시청 차량등록사업소', '강원도 철원군청', '경상북도 안동시', '경상북도 청송군',
       '경상북도 영덕군', '전라남도 강진군청 안전재난교통과', '충청북도 충주시청', '충청북도 옥천군청',
       '충청북도 보은군청', '충청북도 청주시청', '충청북도 제천시청', '충청북도 청주시 흥덕구청',
       '충청북도 음성군청', '충청북도 청주시 상당구청', '충청북도 증평군청', '충청북도 괴산군청',
       '충청북도 단양군청', '경기도 하남시청', '경기도 김포시청', '경상남도 김해시청', '청주시 흥덕구청',
       '충청북도 증평군', '경상남도 창원시', '충청북도 영동군', '청주시 서원구청', '부산광역시 중구청',
       '전라남도 순천시청 교통과', '경기도 양평군청', '경상북도 경주시 차량등록사업소', '충청북도 보은군',
       '충청남도 공주시', '경상남도 거창군', '전라북도 순창군', '인천광역시 연수구청', '경상남도 창녕군청',
       '대구광역시 수성구청', '서울특별시 성동구청', '대구광역시 서구청', '광주광역시 남구청', '전라남도 목포시청',
       '강원도 양양군청 전략교통과', '전라남도 영광군청', '전라남도 해남군청', '경상북도 영천시청',
       '경기도 고양시 일산서구청', '경기도 고양시 일산동구청', '인천광역시 남동구청', '전라남도 곡성군',
       '충청남도 계룡시', '서울특별시 종로구청 교통행정과', '전라북도 정읍시', '경상남도 산청군',
       '대전광역시 대덕구청', '부산광역시 영도구', '경기도 광명시 도시교통과', '경상북도 영주시청',
       '강원도 고성군청', '인천광역시 중구청', '부산광역시 북구', '전라북도 전주시 완산구청',
       '대전광역시 동구청 교통과', '전라북도 전주시 덕진구청', '전라남도 나주시청', '충청남도 금산군청',
       '제주특별자치도청 교통정책과', '충청남도 당진시청', '경기도 동두천시', '전라남도', '강원도 인제군',
       '경기도 성남시청', '강원도 양구군', '강원도 양양군', '강원도 화천군', '전라북도 진안군청',
       '강원도 철원군', '강원도 속초시', '강원도 고성군', '괴산군청 민원지적과', '군위군청', '충청남도 청양군청',
       '경상남도 남해군 건설교통과', '경기도 이천시청', '경상북도 김천시', '경상북도 의성군청',
       '전라북도 익산시청 교통행정과', '경상남도 함양군', '전라남도 광양시청', '강원도 춘천시청', '강원도 정선군청',
       '경기도 남양주시청', '서울특별시 노원구교통행정과', '전라북도 장수군청', '충청북도 괴산군',
       '경상북도 영덕군청', '충청남도 청양군', '전라남도 진도군', '전라남도 담양군청', '부산광역시 강서구',
       '서울특별시 강서구청', '전라남도 여수시청', '함안군', '서대문구청', '전라남도 화순군',
       '서울특별시 양천구청 교통행정과', '강원도 태백시청 민원교통과', '공주시', '충청북도 제천시청 교통과',
       '부산광역시 연제구청', '경기도 고양시 덕양구청', '전라북도 남원시청', '경기도 군포시청 차량관리과',
       '충청남도 서천군청', '충청남도 예산군청', '충청북도 단양군청 민원과 교통팀', '부산광역시 사상구',
       '부산광역시 기장군', '전라남도 신안군청', '인천광역시 옹진군청', '부산광역시 부산진구청',
       '서울특별시 관악구청', '경기도 연천군청', '강원도 동해시청', '서울특별시 강북구청', '은평구청',
       '충청남도 부여군', '경상북도 포항시', '경상북도 군위군', '충청남도 금산군', '충청남도 서천군',
       '경상북도 칠곡군', '경상북도 영천시', '경상북도 경주시', '경상북도 성주군', '전라북도 무주군',
       '전라북도 완주군', '경상북도 경산시', '대구광역시 동구', '전라북도 김제시', '대구광역시 남구',
       '대구광역시 달성군', '전라북도 진안군', '대구광역시 서구', '대구광역시 중구', '부산광역시 연제구'],
      dtype=object)

In [352]:
addr_df = pd_data['관리기관명'].apply(address_list)
addr_df = addr_df.apply(rewrite)
addr_df.unique()

array(['경상북도', '충청북도', '충청남도', '경기도', '대전광역시', '인천광역시', '세종특별자치시',
       '광주광역시', '경상남도', '부산광역시', '대구광역시', '서울특별시', '제주특별자치도', '강원도',
       '울산광역시', '전라북도', '전라남도', '예외', '청주시', '공주시'], dtype=object)

In [353]:
len(addr_df.unique())

20

In [354]:
sub_data = pd_data[['관리기관명','영업상태', '데이터기준일자']]
sub_data

           관리기관명  영업상태     데이터기준일자
0       경상북도 울진군     1  2021-10-22
1       충청북도 진천군     1  2021-10-22
2       충청북도 충주시     1  2021-10-22
3       경상북도 봉화군     1  2021-10-22
4       충청북도 진천군     1  2021-10-22
...          ...   ...         ...
49995   경상북도 경주시     1  2021-10-22
49996   경상북도 경주시     1  2021-10-22
49997  대구광역시 달서구     1  2021-10-22
49998  대구광역시 수성구     1  2021-10-22
49999  대구광역시 달서구     1  2021-10-22

[50000 rows x 3 columns]

In [355]:
sub_data['관리기관명'] = addr_df
sub_data

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2900\4232278468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data['관리기관명'] = addr_df

       관리기관명  영업상태     데이터기준일자
0       경상북도     1  2021-10-22
1       충청북도     1  2021-10-22
2       충청북도     1  2021-10-22
3       경상북도     1  2021-10-22
4       충청북도     1  2021-10-22
...      ...   ...         ...
49995   경상북도     1  2021-10-22
49996   경상북도     1  2021-10-22
49997  대구광역시     1  2021-10-22
49998  대구광역시     1  2021-10-22
49999  대구광역시     1  2021-10-22

[50000 rows x 3 columns]

In [356]:
sub_data_1 = pd_data[['관리기관명','영업상태']]
sub_data_1['관리기관명'] = addr_df
df1 = sub_data_1.groupby(['관리기관명'])
df1 = df1.count()
df1.rename(columns={'영업상태':'자동차정비소개수'}, inplace=True)
df1

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2900\1047537271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data_1['관리기관명'] = addr_df

         자동차정비소개수
관리기관명
강원도          2530
경기도         13203
경상남도         2578
경상북도         3753
공주시             9
광주광역시        1434
대구광역시        2510
대전광역시        2472
부산광역시        1497
서울특별시        5544
세종특별자치시       225
예외            127
울산광역시        1048
인천광역시        2625
전라남도         1117
전라북도         2262
제주특별자치도       214
청주시             2
충청남도         2949
충청북도         3901

In [357]:
df = sub_data.groupby(['관리기관명', '영업상태'])
g1 = df.count()
g1

              데이터기준일자
관리기관명   영업상태
강원도     1        2494
        2           8
        3          28
경기도     1       12518
        2          49
        3         636
경상남도    1        2487
        2           4
        3          87
경상북도    1        3599
        2           7
        3         147
공주시     1           9
광주광역시   1        1243
        2           1
        3         190
대구광역시   1        2504
        2           6
대전광역시   1        2158
        2          11
        3         303
부산광역시   1        1453
        2           6
        3          38
서울특별시   1        5455
        2          21
        3          68
세종특별자치시 1         224
        2           1
예외      1         118
        2           1
        3           8
울산광역시   1         918
        3         130
인천광역시   1        2623
        2           2
전라남도    1        1056
        2           8
        3          53
전라북도    1        2198
        2           6
        3          58
제주특별자치도 1         213
        2           1
청주시     1           2
충청남도    1        2704
        2          22
        3         223
충청북도    1        3869
        2           4
        3          28

In [358]:
df = g1.unstack()
df.rename(columns={1:'영업',2:'휴업',3:'폐업'}, inplace=True)
df.rename(columns={'데이터기준일자':'영업상태'}, inplace=True)
# df
df = pd.concat([df,df1], axis=1)
df.fillna(0, inplace=True)
df

         (영업상태, 영업)  (영업상태, 휴업)  (영업상태, 폐업)  자동차정비소개수
관리기관명
강원도          2494.0         8.0        28.0      2530
경기도         12518.0        49.0       636.0     13203
경상남도         2487.0         4.0        87.0      2578
경상북도         3599.0         7.0       147.0      3753
공주시             9.0         0.0         0.0         9
광주광역시        1243.0         1.0       190.0      1434
대구광역시        2504.0         6.0         0.0      2510
대전광역시        2158.0        11.0       303.0      2472
부산광역시        1453.0         6.0        38.0      1497
서울특별시        5455.0        21.0        68.0      5544
세종특별자치시       224.0         1.0         0.0       225
예외            118.0         1.0         8.0       127
울산광역시         918.0         0.0       130.0      1048
인천광역시        2623.0         2.0         0.0      2625
전라남도         1056.0         8.0        53.0      1117
전라북도         2198.0         6.0        58.0      2262
제주특별자치도       213.0         1.0         0.0       214
청주시             2.0         0.0         0.0         2
충청남도         2704.0        22.0       223.0      2949
충청북도         3869.0         4.0        28.0      3901

In [359]:
test_data = pd_data[['소재지도로명주소', '소재지지번주소', '영업상태', '데이터기준일자']]

filter1 = test_data['소재지도로명주소'].isna()

test_data['소재지지번주소'][filter1]

test_data['소재지도로명주소'][filter1] = test_data['소재지지번주소'][filter1]

print(test_data.isna().sum())

sub_data = test_data[['소재지도로명주소', '영업상태']]
sub_data

sub_data['소재지도로명주소']= sub_data['소재지도로명주소'].apply(address_list)
g3 = sub_data.groupby('소재지도로명주소')
df3 = g3.count()
df3

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2900\2426019526.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['소재지도로명주소'][filter1] = test_data['소재지지번주소'][filter1]
C:\Users\ITPS\AppData\Local\Temp\ipykernel_2900\2426019526.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data['소재지도로명주소']= sub_data['소재지도로명주소'].apply(address_list)

소재지도로명주소        0
소재지지번주소     30324
영업상태            0
데이터기준일자         0
dtype: int64

           영업상태
소재지도로명주소
강원도        2527
경기도       13195
경상남도       2591
경상북도       3779
광주광역시      1431
대구광역시      2518
대전광역시      2435
부산광역시      1494
서울특별시      5567
세종특별자치시     227
울산광역시      1047
인천광역시      2629
전라남도       1111
전라북도       2314
제주특별자치도     212
충청남도       2989
충청북도       3934

In [360]:
sub_data_2 = test_data[['소재지도로명주소', '영업상태', '데이터기준일자']]
sub_data_2['소재지도로명주소']= sub_data['소재지도로명주소'].apply(address_list)
df = sub_data_2.groupby(['소재지도로명주소', '영업상태'])

df = df.count()
df = df.unstack()
df.rename(columns={'데이터기준일자':'영업상태', 1:'영업',2:'휴업',3:'폐업'}, inplace=True)
df = pd.concat([df, df3], axis=1)
df.fillna(0, inplace=True)

df

C:\Users\ITPS\AppData\Local\Temp\ipykernel_2900\3505677522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_data_2['소재지도로명주소']= sub_data['소재지도로명주소'].apply(address_list)

          (영업상태, 영업)  (영업상태, 휴업)  (영업상태, 폐업)   영업상태
소재지도로명주소
강원도           2491.0         8.0        28.0   2527
경기도          12510.0        49.0       636.0  13195
경상남도          2500.0         4.0        87.0   2591
경상북도          3624.0         8.0       147.0   3779
광주광역시         1240.0         1.0       190.0   1431
대구광역시         2512.0         6.0         0.0   2518
대전광역시         2132.0        11.0       292.0   2435
부산광역시         1450.0         6.0        38.0   1494
서울특별시         5479.0        20.0        68.0   5567
세종특별자치시        226.0         1.0         0.0    227
울산광역시          917.0         0.0       130.0   1047
인천광역시         2626.0         3.0         0.0   2629
전라남도          1050.0         8.0        53.0   1111
전라북도          2242.0         6.0        66.0   2314
제주특별자치도        211.0         1.0         0.0    212
충청남도          2733.0        22.0       234.0   2989
충청북도          3902.0         4.0        28.0   3934