In [83]:
import pandas as pd
import numpy as np

In [84]:
w_data = pd.read_csv('final_weather.csv', encoding='cp949')
w_data['날짜'] = pd.to_datetime(w_data['일시']).dt.date
# 15분 단위로 변경 후 분 변경
w_data['분'] = pd.to_datetime(w_data['일시']).dt.minute
day_data = pd.read_csv('2201_2312_date.csv')

w_data.head()

,일시,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C),년,월,일,시간,분,날짜
0,2021-01-01 00:00:00,-8.3,0.0,1.8,66.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.800,2021,1,1,0,0,2021-01-01
1,2021-01-01 00:15:00,-8.4,0.0,1.8,66.5,1016.4,0.0,0.0,0.0,0.0,2000,-6.825,2021,1,1,0,15,2021-01-01
2,2021-01-01 00:30:00,-8.5,0.0,1.8,67.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.850,2021,1,1,0,30,2021-01-01
3,2021-01-01 00:45:00,-8.6,0.0,1.8,67.5,1016.4,0.0,0.0,0.0,0.0,2000,-6.875,2021,1,1,0,45,2021-01-01
4,2021-01-01 01:00:00,-8.7,0.0,2.4,68.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.900,2021,1,1,1,0,2021-01-01

In [85]:
day_data.head()

           날짜   요일  주말
0  2021-01-01  금요일   0
1  2021-01-02  토요일   0
2  2021-01-03  일요일   0
3  2021-01-04  월요일   1
4  2021-01-05  화요일   1

In [86]:
w_data['날짜'] = pd.to_datetime(w_data['날짜'])
w_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105121 entries, 0 to 105120
Data columns (total 18 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   일시         105121 non-null  object
 1   기온(°C)     105121 non-null  float64
 2   강수량(mm)    105121 non-null  float64
 3   풍속(m/s)    105121 non-null  float64
 4   습도(%)      105121 non-null  float64
 5   현지기압(hPa)  105121 non-null  float64
 6   일조(hr)     105121 non-null  float64
 7   일사(MJ/m2)  105121 non-null  float64
 8   적설(cm)     105121 non-null  float64
 9   전운량(10분위)  105121 non-null  float64
 10  시정(10m)    105121 non-null  int64
 11  지면온도(°C)   105121 non-null  float64
 12  년          105121 non-null  int64
 13  월          105121 non-null  int64
 14  일          105121 non-null  int64
 15  시간         105121 non-null  int64
 16  분          105121 non-null  int32
 17  날짜         105121 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(10), int32(1), int64(5), object(1)
memory usage: 14.0+ MB

In [87]:
day_data['날짜'] = pd.to_datetime(day_data['날짜'])
day_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      1095 non-null   datetime64[ns]
 1   요일      1095 non-null   object
 2   주말      1095 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 25.8+ KB

In [88]:
full_data = pd.merge(w_data, day_data, on='날짜', how='left')

# full_data.head()

test_data = full_data.copy()

In [89]:
full_data = full_data[['일시','날짜','년','월','일','시간','분','요일','주말','기온(°C)','강수량(mm)','풍속(m/s)','습도(%)','현지기압(hPa)','일조(hr)','일사(MJ/m2)','적설(cm)','전운량(10분위)','시정(10m)', '지면온도(°C)']]

In [90]:
# full_data.to_csv('full_data.csv',encoding='cp949')

In [91]:
df1 = test_data.iloc[:,0]
df2 = test_data.iloc[:,1:12]
df3 = test_data.iloc[:,12:17]
df4 = test_data.iloc[:,17:-1]

df = pd.concat([df1,df4,df3,df2], axis=1)

In [92]:
df.head()

,일시,날짜,요일,년,월,일,시간,분,기온(°C),강수량(mm),풍속(m/s),습도(%),현지기압(hPa),일조(hr),일사(MJ/m2),적설(cm),전운량(10분위),시정(10m),지면온도(°C)
0,2021-01-01 00:00:00,2021-01-01,금요일,2021,1,1,0,0,-8.3,0.0,1.8,66.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.800
1,2021-01-01 00:15:00,2021-01-01,금요일,2021,1,1,0,15,-8.4,0.0,1.8,66.5,1016.4,0.0,0.0,0.0,0.0,2000,-6.825
2,2021-01-01 00:30:00,2021-01-01,금요일,2021,1,1,0,30,-8.5,0.0,1.8,67.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.850
3,2021-01-01 00:45:00,2021-01-01,금요일,2021,1,1,0,45,-8.6,0.0,1.8,67.5,1016.4,0.0,0.0,0.0,0.0,2000,-6.875
4,2021-01-01 01:00:00,2021-01-01,금요일,2021,1,1,1,0,-8.7,0.0,2.4,68.0,1016.4,0.0,0.0,0.0,0.0,2000,-6.900